html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background: #c9d1d3;
  color: #323232;
}

image {
  max-width: 100%;
}

.icon {
  height: 1.1em;
  overflow: visible;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 950px;
  margin: 40px auto;
  padding: 100px 75px;
  background: #ffffff;
}

section {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
}

section:last-child {
  border-bottom: none;
}

.section-title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

li, p {
  letter-spacing: 1px;
}

ul {
  list-style-type: square;
}

/**********************************
* =Main Info
**********************************/
.avatar {
  height: 140px;
  width: 140px;
  filter: grayscale(100%);
}

.my-name {
  font-weight: bold;
  font-size: 50px;
  letter-spacing:10px;
  text-align: center;
}

.my-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 4px;
  text-align: center;
}

.links-container {
  display: flex;
  margin: 10px 0 20px 0;
  padding: 24px 0;
  border-bottom: 1px solid lightgrey;
  letter-spacing: 1px;
}

.link-item {
  display: flex;
  align-items: center;
  flex: 1;
}

.link-item img {
  margin-right: 6px;
}

/**********************************
* =Work Experience
**********************************/
.job {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid lightgrey;
}

.job:last-child {
  border-bottom: none;
}

.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 1px;
}

.job-company {
  font-weight: bold;
  line-height: 1.2;
}

/**********************************
* =Interests
**********************************/
.interests-container {
  display: flex;
  justify-content: space-between;
}

.interests-container img {
  height: 50px;
  opacity: 0.75;
}

#game-controller {
  opacity: 0.67;
}

/**********************************
* =References
**********************************/
.references {
  font-size: 18px;
  letter-spacing: 1px;
}
